* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #2E86C1;
  font-family: 'Luckiest Guy', cursive;
  font-size: 52px;
  margin-top: 35px;
  text-align: center;
  text-transform: uppercase;
}

.list {
  margin-top: 35px;
  text-align: center;
}

.container {
  margin: 35px 0px 0px 30px;
  text-align: center;
  width: 1300px;
  height: auto;
}

.animal {
  height: 300px;
  margin: 10px;
  width: 400px;
}